*{
  margin:0;
  padding:0;
}
#logo{
  margin-top: 40px;
}
#logo img{
  width: 100px;
  height: 100px;
}
body{
  width: 1100px;
  margin: 0 auto;
}
#xiala{
  display: none;
}
#xiala img{
  margin-top: 5px;
  border: solid 2px #888888;
}
#nav{
  margin-top: 20px;
  width: 1100px;
  background:white;
  height: 80px;
  border-radius: 15px;
}
#nav li{
  list-style: none;
  float: left;
  margin-left: 30px;
  color: black;
  line-height: 80px;
  font-size: 20px;
}
#neirong{
  height: 900px;
  margin-top: 20px;
  position: relative;
}
#left{
  width:800px;
  height: 900px;
  background: white;
  position: absolute;
}
#left hgroup{
  position: absolute;
  margin-left: 30px;
  margin-top: 15px;
}
#tupian img{
  position: absolute;
  width: 730px;
  margin-left: 30px;
  margin-top: 100px;
}
#section{
  
  margin-top: 280px;
  width: 730px;
  margin-left: 30px;
  color: #AAAAAA;
}
#section1{
  width: 730px;
  margin-top: 15px;
  margin-left: 30px;
  color: #AAAAAA;
}
#section1 ul{
  color: black;
  line-height: 25px;
  margin-left:25px; 
  margin-top: 10px;
}

#section2{
  position: absolute;
  margin-top: 15px;
  width: 730px;
   margin-left: 30px;
}
#section2 ul{
  color: black;
  line-height: 25px;
  margin-left:25px; 
  margin-top: 10px;
}
#right{
  border-radius: 20px;
  position: absolute;
  width: 280px;
  height: 120px;
  background:  #DDDDDD;
  right: 10px;
  float: right;
}
#first{
  margin-left: 20px;
  margin-top: 10px;
  width: 240px;
}
#second{

  margin-top: 40px;
  width: 280px;
  border-radius: 20px;
  height: 60px;
  background: #DDDDDD;
}
#second span{
  margin-left: 20px;
}
/*媒体样式  */
@media screen and (max-width:415px)
{
      body{
        width: 100%;
      }
/*   logo部分     */
      #logo {
        margin-left: 15px;
        margin-top: 10px;
      }
      #logo img{
        width: 70px;
        height: 70px;
      }
/*   标题部分     */
       #h1{
        width: 100%;
         text-align: center;
         color: red!important;
         position: absolute;
         top: 20px;
      }
/*    导航部分    */
      #xiala{
        width: 100%;
        background:#DDDDDD;
        font-size: 30px;
        display: block;
        
      }
  #datu{
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
  }
  #photo li img{
    width: 414px;
    height: 180px;
  }
  #photo li{
    position: absolute;
  }
  #btn{
    width: 150px;
    height: 25px;
    z-index: 100;
    right: 100px;
    bottom: 0px;
    position: absolute;
  }
  #btn li{
    width: 10px;
    height: 10px;
    float: left;
    list-style: none;
    font-size: 30px;
    margin-left: 15px;
    background: white;
    border: solid 2px #888888;
    border-radius: 50%;
    cursor: pointer;
  }
  .bg{
    background: red!important;
  }
/*-----------------------------------------    */
      #nav{
        margin-top: 0px;
        width: 100%;
        height: 50px;
        background:whitesmoke;
        border-radius: 0px;   
      }
      #nav{
        display: none;
      }
      #nav li{
        font-size: 15px;
        line-height: 25px;
      }
      form{
        float: right;
        width: 200px;
      }
      form input{
        border-radius: 15px;
        border: solid 2px #888888;
      }
      form button{
         border: solid 2px #888888;
      }     
/*   文字部分     */
      #neirong{
        width: 100%;
        margin-top: 0px;
      }
/*    左边    */
      #left{
        width: 100%;
        background: #DDDDDD;
        
      }
  /*  第一个标题      */
      hgroup{
       margin-left:10px!important; 
      }
      hgroup h1{
        background: red;
        color: white;
        font-size: 25px!important;
      }
      #left img{
        max-width: 100% ;
        margin-left: 0px;
        margin-top: 80px;
      }
      #section{
        width: 98%;
        margin-left: 0px;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 180px;
        color: black;
      }
      #wenzi1{
        display: none;
      }
      #section1{
        margin-left: 0px;
        width: 100%;
      }
      #section1 h2{
        background: red;
        color: white;
        width: 100px;
        margin-top: 10px;
        margin-left:10px;
      }
      #section2{
        width: 100%;
        margin-left: 0px; 
      }
      #section2 h2{
        background: red;
        color: white;
        width: 100px;
        margin-top: 10px;
        margin-left:10px;
      }
/*    右边区域    */
      #right{
        width: 100%;
        bottom: -140px;
      }    
    }
